@model IEnumerable<ProyectoCRM.Models.TopProductosCotizado>

@{
    ViewData["Title"] = "Index";
}

<h1>Reporte</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.VecesCotizado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.VecesCotizado)
            </td>
        </tr>
}
    </tbody>
</table>
