@model IEnumerable<ProyectoCRM.Models.ClientesXzona>

@{
    ViewData["Title"] = "Index";
}

<h1>Cantidad de clientes por zona y monto de ventas</h1>


<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Zona)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
        </tr>
}
    </tbody>
</table>
